{% extends "base.html" %}

{% block title %} Главная {% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Точки транспортировки газа в Европе</span>
              <span class="section-heading-lower">ENTSOG</span>
            </h2>
            <p>
            Данный сайт предназначен для сбора синонимов и различных вариантов написания точек сдачи-приемки природного газа в странах Европы.
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}