{% extends "base.html" %}
{% block title %} {{ point.pointLabel|upper }} {% endblock %}
{% block content %}
{% with my_point=point %}

<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">{{my_point.pointKey}}</span>
                    <span class="section-heading-lower">{{my_point.pointLabel}}</span>
                </h2>
                <p>
                <ul align="left">
                    <li>Свойство -
                        <a href="{% url 'gas:list_category_type' %}?cat_pk={{ my_point.commercialType.pk }}">
                        {{my_point.commercialType}}
                        </a>
                    </li>
                    <li>Тип -
                        <a href="{% url 'gas:list_point_type' %}?type_pk={{ my_point.pointType.pk }}">
                            {{my_point.pointType}}
                        </a>
                    </li>
                    <li>ID - {{my_point.point_id}}</li>

                {% if my_point.point_map_x > 0 %}
                    <li> координата X = {{my_point.point_map_x}} </li>
                    <li> координата Y = {{my_point.point_map_y}} </li>
                {% endif %}

                {% if my_point.point_export_from %}
                    {% if my_point.point_export_from == "LNG" %}
                        <li> LNG terminal </li>
                    {% else %}
                        <li> Export to EU from
                            <a href="{% url 'gas:list_export' %}?export_pk={{ my_point.point_export_from.pk }}">
                                {{my_point.point_export_from}}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}


                </ul>
                <p align="left">Точку занес в базу: {{my_point.user.username}}, {{my_point.create}}</p>

                {% if user.is_authenticated and user == my_point.user %}
                <a href="{% url 'gas:point_update' pk=my_point.pk %}">
                    <button type="button" class="btn btn-primary">Изменить</button>
                </a>
                <a href="{% url 'gas:point_delete' pk=my_point.pk %}">
                    <button type="button" class="btn btn-danger">Удалить</button>
                </a>
                {% else %}

                    <button type="button" class="btn btn-warning">Вы не можете изменить эту точку</button>

                {% endif %}

                <hr>
                {% if point_sinonims %}

                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Различные написания точки</span>
                </h2>

                <ul align="left">

                    {% for sin in point_sinonims %}
                    <li>{{sin.name}} (Занес {{sin.user.username}}, {{sin.create}}) </li>
                    {% endfor %}

                </ul>
                {% else %}
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">У точки нет синономов</span>
                </h2>
                {% endif %}


                <form method="post" action="{% url 'gas:sinonim_form' pk=object.pk%}">
                    <span class="section-heading-upper">Добавить новый синоним или написание названия точки</span><br>
                    {% csrf_token %}
                    {{ form_sinonims.as_p }}
                    <button type="submit" class="btn btn-success">Добавить в базу</button>

                </form>


                </p>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
