{% extends "base.html" %}

{% block title %} {{point.pointLabel}} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">

                    <span class="section-heading-upper">Удаление точки</span>
                    <span class="section-heading-lower">{{point.pointLabel}}</span>
                </h2>
                <p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Нажмите кнопку еще раз, если уверены.</button>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}