{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
        {% endblock%}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">

</head>

<body>

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Система сбора и отображения</span>
    <span class="site-heading-lower">вариантов написания ПСП газа</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">Мой сайт с точками</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">

                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'gas:index' %}">Главная</a>
                </li>

                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'gas:point_list' %}">Список всех точек</a>
                </li>
                
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'gas:new_point' %}">Добавить точку</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'users:profile' pk=user.pk %}">Профиль {{user.username}}</a>
                </li>

                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'users:logout' %}">LOGOUT</a>
                </li>
          
                {% else %}
          
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'users:login' %}">LOGIN</a>
                </li>
          
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'users:register' %}">REGISTER</a>
                </li>
          
                {% endif %}
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'gas:send_mail' %} ">Отправить нам письмо</a>
                </li>

                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'gas:parser' %} ">Парсер</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<section class="page-section cta">
    {%block content%}
    {%endblock%}
</section>

<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; LENIN 2020</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="/static/vendor/jquery/my.js"></script>
<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>